
<div class="footer-top">
        <h1>INTERPOL</h1>
</div>

<footer class="footer">
  <div class="footer-inner">
    <section class="section-logo">
      <img
        class="footer-logo"
        src="../../assets/interpol.png"
        alt="interpol-logo"
      />
    </section>

    <section>
      <div>
        <h6 translate id="footer-connect-header">CONNECT WITH US</h6>
      </div>
      <div>
        <p translate>Contect INTERPOL</p>
        <p translate>Careers</p>
        <p translate>Procurement</p>
        <p translate>About The CCF</p>
      </div>
    </section>

    <section>
      <div>
        <h6 translate>RESOURCES</h6>
      </div>
      <div>
        <p translate>News and Events</p>
        <p translate>Information for Journalists</p>
        <p translate id="footer-multimedia">Multimedia</p>
        <p translate>Documents</p>
      </div>
    </section>

    <section>
      <div>
        <h6 translate>POLICIES</h6>
      </div>
      <div>
        <p translate>Cookie Policy</p>
        <p translate>Privacy Policy</p>
        <p translate>Terms of Use</p>
        <p translate>Name and Logo</p>
      </div>
    </section>

    <section>
      <div>
        <h6 translate id="footer-socialmedia">SOCIAL MEDIA</h6>
      </div>

      <div class="footer-icons-div">
        <div class="footer-icons-div-inner">
            <i class="bi bi-twitter"></i>
        <i class="bi bi-facebook"></i>
        </div>
        <div class="footer-icons-div-inner">
            <i class="bi bi-youtube"></i>
        <i class="bi bi-instagram"></i>
        </div>
        <div>
            <i class="bi bi-linkedin"></i>
        </div>
      </div>
    </section>
  </div>
</footer>


