<div class="cards-container">
  <div
    class="card"
    style="width: 18rem"
    *ngFor="let person of responseFromApi?._embedded?.notices"
  >
    <img
      src="../../assets/avatar.jpg"
      class="card-img-top"
      alt="person-image"
    />
    <!-- <img
      src="{{ person?._links?.thumbnail?.href }}"
      class="card-img-top"
      alt="person-image"
    /> -->

    <div class="card-body">
      <h6 class="card-title">{{ person?.name }}</h6>
      <h6 class="card-title">{{ person?.forename }}</h6>
      <div>
        <span translate class="card-text card-name">
          {{ 2022 - +person.date_of_birth.slice(0, 4) }}
        </span>
        <span translate id="card-year-span">Years Old</span>
      </div>

      <div>
        <span translate id="card-country-span" >Country</span>
        <span translate>
          :
          {{
            person?.nationalities ? person?.nationalities[0] : "Unknown"
          }}</span
        >
      </div>

      <a
        class="card-detail-button"
        [routerLink]="[
          '/details',
          person?.entity_id,
          { state: person.entity_id }
        ]"
      >
        <button translate class="but" >Go To Detail</button>
      </a>
    </div>
  </div>

  <div
    class="no-content-div"
    *ngIf="responseFromApi?._embedded?.notices.length == 0"
  >
    <h1 translate>There are no results according to your search criteria</h1>
  </div>
</div>
