

.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: coral;
    width: 100%;
    gap: 1rem;
} 

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-img-top {
    width: 50%;
}