

<div class="form-container"> 
  <form
  class="form"
  (ngSubmit)="
    onSubmit();"
  novalidate
>

  <h2 translate class="form-header">{{ title }}</h2>

  <label translate for="name">Lastname</label> <br />
  <input
    class="form-input"
    type="text"
    id="name"
    name="lastname"
    [(ngModel)]="formValues.lastname"
    #lastname="ngModel"
  />
  <br />

  <label translate for="firstname">Firstname</label> <br />
  <input
    class="form-input"
    type="text"
    id="firstname"
    name="firstname"
    [(ngModel)]="formValues.forename"
    #firstname="ngModel"
  />
  <br />

  <label translate for="nationality">Nationality</label> <br />
  <select
    class="form-input"
    name="nationality"
    id="nationality"
    [(ngModel)]="formValues.nationality"
    #nationality="ngModel"
  >
    <option value=""></option>
    <option *ngFor="let item of countryListArray" value="{{ item[0] }}" > {{ item[1] }} </option>
  </select>

  <br /> <br>
  <label translate for="">Gender</label> <br>
  <input
    class="radio-button"
    type="radio"
    name="gender"
    id="all"
    value=""
    checked
    [(ngModel)]="formValues.gender"
    #nationality="ngModel"
  />
  <label translate for="all">All</label> <br />
    
  <input
    class="radio-button"
    type="radio"
    name="gender"
    id="female"
    value="F"
    [(ngModel)]="formValues.gender"
    #nationality="ngModel"
  />
  <label translate for="female">Female</label> <br />

  <input
    class="radio-button"
    type="radio"
    name="gender"
    id="male"
    value="M"
    [(ngModel)]="formValues.gender"
    #nationality="ngModel"
  />
  <label translate for="male">Male</label> <br />

  <input
    class="radio-button"
    type="radio"
    name="gender"
    id="unknown"
    value="U"
    [(ngModel)]="formValues.gender"
    #nationality="ngModel"
  />
  <label translate for="unknown">Unknown</label> <br />
  <br />

  <label translate for="">Current Age</label>
  <div class="age-container">
    <div>
      <label translate for="ageMin">from</label>
      <input translate [(ngModel)]="formValues.ageMin" class="age-input"
    #ageMin="ngModel" type="number" name="ageMin" id="ageMin"/>
    </div>
    <div>
      <label translate for="ageMax">to</label>
      <input translate [(ngModel)]="formValues.ageMax" class="age-input"
    #ageMax="ngModel" type="number" name="ageMax" id="ageMax"/>
    </div>
  </div>

  <label translate for="arrestWarrantCountryId">Wanted By</label> <br />
  <select
    class="form-input"
    [(ngModel)]="formValues.arrestWarrantCountryId"
    #arrestWarrantCountryId="ngModel"
    name="arrestWarrantCountryId"
    id="arrestWarrantCountryId"
  >
    <option value=""></option>
    <option *ngFor="let item of countryListArray" value="{{ item[0] }}" > {{ item[1] }} </option>
  </select>

  <br />
  <label translate for="keyword">Keyword</label> <br />
  <input class="form-input" type="text" name="keyword" id="keyword" [(ngModel)]="formValues.keyword" #keyword="ngModel" />

  <br /><br />

  <button translate type="submit" class="form-button">SEARCH</button>
</form>
</div>

