.home-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    margin-top: 4rem;
    /* background-color: bisque; */
}

.main-form {
    width: 20%;
}

.main-cards {
    width: 70%;
    display: flex;
}