<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <app-navbar></app-navbar> -->

    <div class="container">
        <div class="detail-image-div">
            <img src="../../assets/avatar.jpg" alt="detail-image">
        </div>

        <section class="detail-section-one">
            <h3 translate>Identity Particulars</h3>
            <div class="detail-section-one-inner">
                <div>
                <span translate>Lastname</span>
                <p> : {{ responseFromApi?.name }} </p>
            </div>
            <div>
                <span translate>Firstname</span>
                <p> : {{ responseFromApi?.forename }} </p>
            </div>
            <div>
                <span translate>Gender</span>
                <p> : {{ responseFromApi?.sex_id == "M" ? "Male" : (responseFromApi?.sex_id == "F" ? "Female" : "Unknown") }} </p>
            </div>
            <div>
                <span translate>Date of Birth</span>
                <p> : {{ responseFromApi?.date_of_birth }} {{ 2022 - (+responseFromApi?.date_of_birth.slice(0, 4))}}  </p>
                <p translate>Years Old</p>
            </div>
            <div>
                <span translate>Place of Birth</span>
                <p> : {{ responseFromApi?.place_of_birth ? responseFromApi?.place_of_birth : "Unknown" }} </p>
            </div>
            <div>
                <span translate>Nationality</span>
                <p> : {{ responseFromApi?.nationalities[0] ? responseFromApi?.nationalities[0] : "Unknown" }} </p>
            </div>
            </div>
        </section>

        <section class="detail-section-two">
            <h3 translate>Physical Description</h3>
            
            <div class="detail-section-two-inner">
                <div>
                <span translate>Colour of Hair</span>
                <p translate> : {{ responseFromApi?.hairs_id ? responseFromApi?.hairs_id : "Unknown" }} </p>
            </div>
            <div>
                <span translate>Colour of Eyes</span>
                <p> : {{ responseFromApi?.eyes_colors_id ? responseFromApi?.eyes_colors_id : "Unknown" }} </p>
            </div>
            </div>
        </section>

        <section class="detail-section-three">
            <h3 translate>Details</h3>
            <div class="detail-section-three-inner">
                <div>
                    <span translate>Language Spoken</span>
                    <p> : {{ responseFromApi?.languages_spoken_ids ? responseFromApi?.languages_spoken_ids : "Unknown" }} </p>
                </div>
            </div>
        </section>

        <section class="detail-section-four">
            <h3 translate>Charges</h3>
            <div class="detail-section-four-inner">
                    <p> {{ responseFromApi?.arrest_warrants[0]["charge"] }} </p>
                    <div>
                        <span> Charge Translation -  </span>
                    <span>{{ responseFromApi?.arrest_warrants[0]["charge_translation"] ? responseFromApi?.arrest_warrants[0]["charge_translation"] : "Unknown" }}</span>
                    </div>
            </div>
        </section>
    </div>

    <app-footer></app-footer>
</body>
</html>

